html {
  scroll-behavior: smooth;
}

body {
  background-color: #040714;
}

.primary-nav::after {
  content: "";
  height: 2px;
  width: 100%;
  display: block;
  border-right: 4px;
  border-left: 4px;
  background-color: #f9f9f9;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-top: 2px;
}

.primary-nav:hover::after {
  transform: scale(1);
  opacity: 1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
